// ==========================================================================
// Sir-trevor Overide styles
// ==========================================================================


.st-block-ui-btn__delete {
    .st-block--textable &,
    .st-block[data-type="list"] &,
    .st-block {
        display: block;
    }
    .st-block[data-type="quote"] & {
        display: block;
    }
}


.st-block__inner {

    min-height: 70px;
    margin-left: 0;
    margin-right: 0;
    border: #F8F8F8 solid 2px;
    border-left: #F8F8F8 solid 50px;
    border-right: #F8F8F8 solid 50px;
    border-radius: 10px 0 0 10px;
    padding: 15px;

    .st-block[data-type="quote"] & {
       margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .st-block--textable & {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.st-top-controls,
.st-block-addition {
    display: initial;
}

.st-block-addition__button {
    transition: all $animation-speed ease-in-out;
}

.st-block-addition-top {
    display: none;
}

.st-block-addition__button {
    color: $accent-color;

    .st-icon {
        height: 20px;
        width: 20px;
        color: inherit;
    }

    .st-block-addition:hover &,
    .st-block--active & {
        color: $accent-color;
        opacity: 1;
    }
}

.st-block {
    //background-color: #F8F8F8;
}
