 {{!--
Sir Trevor Property Input
=============================

`charcoal/admin/property/input/sir-trevor`
--}}

 <textarea name="{{ inputName }}" id="{{inputId}}" class="js-st-instance col-xs-12">{{&inputVal}}</textarea>

{{#addJs}}
<script src="{{baseUrl}}assets/admin/scripts/vendors/sir-trevor/sir-trevor.min.js"></script>
<script src="{{baseUrl}}assets/admin/scripts/charcoal.property.sir-trevor.js"></script>
<link rel="stylesheet" href="{{baseUrl}}assets/admin/styles/charcoal.property.sir-trevor.css">

<script>
Charcoal.Admin.manager().add_property_input({
    id: '{{inputId}}',
    type: 'charcoal/admin/property/input/sirTrevor',
    data: {
        sirTrevor_options: {{& options }}
    }
});
</script>
{{/addJs}}
