 {{!--
    Sir Trevor Property Input
    =========================
--}}

{{> charcoal/admin/property/input/textarea }}

{{# addJsRequirement }}
<link href="{{ baseUrl }}assets/admin/styles/charcoal.property.sir-trevor.css" rel="stylesheet">
<script src="{{ baseUrl }}assets/admin/scripts/vendors/sir-trevor.min.js"></script>
<script src="{{ baseUrl }}assets/admin/scripts/charcoal.property.sir-trevor.js"></script>
{{/ addJsRequirement }}

{{# addJs }}
<script>
Charcoal.Admin.manager().add_property_input({
    id   : '{{ inputId }}',
    type : 'charcoal/admin/property/input/sirTrevor',
    data : {{& options }}
});
</script>
{{/ addJs }}
